:root {
    --primary-color: #388c92;
    --secondary-color: #c9d4d47c;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    transition: all .5s ease-in;
}

html {
    scroll-behavior: smooth;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    gap: 1em;
    color: var(--font-color);
    background-color: var(--bg-color);
}

#page-title{
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

#sub-title{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    font-family: 'Nuosu SIL', serif;
}

#nav{
    display: flex;
    justify-content: space-evenly;
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
    font-family: 'Nuosu SIL', serif;
}

#socials{
    grid-column: 3/4;
    grid-row: 1/2;
    font-family: 'Nuosu SIL', serif;
    margin-top: 30px;
}

.project-container {
    grid-column: 2/3;
    grid-row: 4/5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* max-width: 30rem; */
    margin-top: 4rem;
}

.project-image {
    max-width: 17rem;
}

.project {
    max-width: 35rem;
    /* max-height: fit-content; */
}

#caption {
    text-align: left;
    font-family: 'Nuosu SIL', serif;
    line-height: 5px;
    margin-top: 5px;
}

* {box-sizing:border-box}

.slideshow-container {
    grid-column: 2/3;
    grid-row: 4/5;
  max-width: 25rem;
  max-height: 0.5rem;
  position: relative;
  margin: auto;
  margin-top: 7rem;
  justify-content: center;
}

.mySlides {
  display: none;
}

.active{
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

a:link {
    text-decoration: none;
    color: var(--font-color);
}

a:active {
    color: var(--secondary-color);
}

a:visited {
    text-decoration: none;
    color: var(--font-color);
}

#contact{
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: center;
    margin-top: 16rem;
    height: 20rem;
}